# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Vite build
dist/
.vite/

# TypeScript
tsconfig.tsbuildinfo

# Env
.env*
!.env.example

# OS
.DS_Store

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
